@model WebApplicationCrud.Models.Employee

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Employee Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3"> NAME : </dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.Name) </dd>

                <dt class="col-sm-3"> DOB :</dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.DOB)</dd>

                <dt class="col-sm-3">LOCATION :</dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.Location)</dd>

                <dt class="col-sm-3">DESIGNATION : </dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.Designation) </dd>

                <dt class="col-sm-3">EMAIL_ADDRESS :</dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.Email_Address) </dd>

                <dt class="col-sm-3">STATUS : </dt>
                <dd class="col-sm-9"><span class="text-danger">Active</span></dd>
            </dl>
        </div>
        <div class="card-footer">
            <p>
                @Html.ActionLink("Edit", "EditEmployeeDetails", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
                <a href="@Url.Action("GetAllEmployeeDetails")" class="btn btn-info">Back to List</a>
            </p>
        </div>
    </div>
</div>
